.image { 
    position: relative; 
    width: 100%;
 }
 /* nomre */
 h1 { 
    position: absolute; 
    top: 123px; 
    left: 60px;
    color:white; 
    font-family:  Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
    font-size: 65px; 
    font-style: normal;
    font-weight:bold;
 }
/* Qiymet */
 h2 { 
    /* Sade */
    position: absolute; 
    top: 315px; 
    left: 205px;
    color:white; 
    font-family: "Goudy Bookletter 1911", sans-serif;
    font-size: 65px; 
    font-weight:bold;
    -webkit-transform: rotate(-6deg);
 }
 h3 { 
    /* 1000den yuxari */
    position: absolute; 
    top: 327px; 
    left: 185px;
    color:white; 
    font-family: "Goudy Bookletter 1911", sans-serif;
    font-size: 50px; 
    font-weight:bold;
    -webkit-transform: rotate(-6deg);

 }

 hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
  }