#Ayarlar burdan deyisilecek
#<CONFIG :100:100:300:2:300:500:200:1100:400:1:1:0: ENDCONFIG#>
#1 Acilisda gozleme ms
#2 Yeni tab acma zamani ms
#3 Adresi daxil etme zamani ms
#4 Enteri klikleme zamani s
#5 Mesajlari secme zamani ms
#6 Kopyalama zamani ms
#7 Kopyalama sonrasi gozleme ms

# ms - milisaniye (1000ms - 1san)
# s - san (1 san - 1000ms)
#
#8 Yeni mesaj gondermeden once gozleme zamani ms
#9 Yeni Mesaj tabindan sonra gozleme ms
#10 Kontakt adi yazma sureti ms
#11 kontakta daxil olduqdan sonraki gozleme zamani s
#12 Mesaji kopyaladiqdan sonraki gozleme zamani s
